<div class="row">
    <div class ="col-6 bg-danger "><table class="table">
        <thead>
          <tr>
            <td>รหัสสินค้า</td>
            <td>{{selectedProduct.pId}}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>ชื่อสินค้า</td>
              <td>{{selectedProduct.pName}}</td>
          </tr>
          <tr>
              <td>ราคาสินค้า</td>
              <td>{{selectedProduct.pCost}}</td>
          </tr>
          <tr>
              <td>จำนวนที่ต้องการ</td>
              <td><input type="number"
                class="from-control"
                name="qty"
                [(ngModel)]="selectedProduct.qty"></td>
          </tr>
        </tbody>
      </table>
      
      <button *ngIf="selectedProduct.qty"
      class="btn btn-info"
      (click)="addCart()">เพิ่มลงตะกร้า</button>
      </div>
      <div class="col-6">

          <app-product-cart [addProduct]="addProduct"></app-product-cart>
      </div>

</div>
    